body {
    background-color: gray;
    color: white;
    font-family: Georgia, 'Times New Roman', serif;
    line-height: 1.5;
}
ul {
    line-height: 1.6;
    border-left: 5px solid gold;
}
h1 {
    padding: 10px;
}
h1, ul {
    background-color: #2e2e2e;
}